.style-covid-info {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 1em;
}

.style-text-initial{
    text-transform: initial;
    padding: 3px;
}

.image-coloring-covinfo{
    background-color: #fcefe6 !important;
}
.image-coloring-covinfo2{
    background-color: #4b809e !important;
    /* d5725b */
}

.text-spacing{
    text-align: justify;
    
}