
.padding-columns{
    padding-inline-end: 500px !important;
}
.bring-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.paint-yellow{
    background-color: #377A98 !important;
    color:rgb(255, 255, 255) !important;
}
.paint-blue{
    color:#4EADAF !important;
}

.paint-red{
    background-color:rgb(238, 134, 131) !important;
    color:rgb(255, 255, 255) !important;
}

.paint-green{
    background-color:rgb(126, 206, 146) !important;
    color:rgb(255, 255, 255) !important;
}

.move-down{
    margin-top: 8em;
}

.bg-image{
    background-image: linear-gradient(#f5f5f5, #d5dfe7) !important; 
}
