.main-footer {
    color: white;
    background-color: #5a7bc2;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .column {
    text-align: center;
    float: left;
    width: 20%;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
  }
  .column-img {
    text-align: center;
    float: left;
    width: 20%;
    padding: 50px;
    /* height: 50px; Should be removed. Only for demonstration */
  }